﻿@model BookMan.Mvc.Models.Book
@{
    ViewData["Title"] = "Create a new book";
}
<p class="h3">Add a new book</p>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <input type="hidden" asp-for="Id" />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Authors" class="control-label"></label>
                <input asp-for="Authors" class="form-control" />
                <span asp-validation-for="Authors" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <input type="file" name="file" />
                <input type="hidden" asp-for="DataFile" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <hr />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-primary btn-sm" /> |
        <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
    </div>
</form>