﻿@model BookMan.Mvc.Models.Book
@{
    ViewData["Title"] = "Confirmation";
}
<p class="p-3 alert-danger">Are you sure you want to delete this?</p>
<div>
    <p class="h3">@Model.Name</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"><label asp-for="Name"></label></dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2"><label asp-for="Authors"></label></dt>
        <dd class="col-sm-10">@Model.Authors</dd>
        <dt class="col-sm-2"><label asp-for="Publisher"></label></dt>
        <dd class="col-sm-10">@Model.Publisher</dd>
        <dt class="col-sm-2"><label asp-for="Year"></label></dt>
        <dd class="col-sm-10">@Model.Year</dd>
        <dt class="col-sm-2"><label asp-for="DataFile"></label></dt>
        <dd class="col-sm-10">@Model.DataFile</dd>
        <dt class="col-sm-2"><label asp-for="Description"></label></dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm" /> |
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
</form>