﻿@model BookMan.Mvc.Models.Book
@{
    ViewData["Title"] = Model.Name;
}
<div>
    <p class="h3">@Model.Name</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2"><label asp-for="Name"></label></dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2"><label asp-for="Authors"></label></dt>
        <dd class="col-sm-10">@Model.Authors</dd>
        <dt class="col-sm-2"><label asp-for="Publisher"></label></dt>
        <dd class="col-sm-10">@Model.Publisher</dd>
        <dt class="col-sm-2"><label asp-for="Year"></label></dt>
        <dd class="col-sm-10">@Model.Year</dd>
        <dt class="col-sm-2"><label asp-for="DataFile"></label></dt>
        <dd class="col-sm-10">@Model.DataFile</dd>
        <dt class="col-sm-2"><label asp-for="Description"></label></dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-warning">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger">Delete</a>
    <a asp-action="Read" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">Read</a>
</div>